.card__title {
  max-width: calc(199 / 282 * 100%);
  margin: 0 10px 0 21px;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
}
