.card__description {
  width: 100%;
  min-height: 79px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
