.cards {
  max-width: 880px;
  padding: 50px 0 0;
  box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  border-radius: 10px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cards {
    max-width: calc(282px + (880 - 282) * (100vw - 320px) / (1024 - 320));
    padding-top: calc(36px + (50 - 36) * (100vw - 320px) / (1024 - 320));
  }
}
