.form__title {
  max-width: 100%;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .form__title {
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (1024 - 320));
  }
}
