.form__fieldset_type_input {
  margin: 54px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .form__fieldset_type_input {
    margin-top: calc(75px + (54 - 75) * (100vw - 320px) / (1024 - 320));
  }
}
